$DesaturatedRed: hsl(0, 36%, 70%);
$SoftRed: hsl(0, 93%, 68%);
$DarkGrayishRed: hsl(0, 6%, 24%);

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  width: 100%;
}

.logo {
  padding: 25px;
}

.page-container {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hasl(0, 100%, 98%)
  );
}

.page-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.coming-soon {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  margin: 30px 0 30px 0;
  align-items: center;
  font-size: 45px;
  color: $DarkGrayishRed;
  span:first-child {
    font-weight: 300;
    color: $DesaturatedRed;
  }
}

.page-text {
  max-width: 400px;
  display: flex;
  text-align: center;
  font-weight: 600;
  color: $DesaturatedRed;
  font-size: 18px;
  margin-bottom: 40px;
  line-height: 1.5;
}

.hero-image {
  width: 100%;
  height: 300px;
  background-image: url(./images/hero-mobile.jpg);
  background-size: cover;
  margin-bottom: 30px;
}

.email-form {
  position: relative;
  display: block;
  height: 60px;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}
.email-form.error {
  input {
    border: 2px solid $SoftRed;
  }
  .error-icon {
    display: block;
  }
  .error-text {
    display: block;
  }
}

.form-input {
  position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid $DesaturatedRed;
  border-radius: 30px;
  padding-left: 30px;
}
.form-input::placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: $DesaturatedRed;
  opacity: 0.6;
}

.form-button {
  cursor: pointer;
  position: absolute;
  right: 0;
  border: none;
  outline: none;
  color: white;
  width: 100px;
  height: 100%;
  border-radius: 50px;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 0px 0px 18px 1px #f4aaab82;
  transition: 0.3s ease box-shadow;
}

.form-button:hover {
  background-image: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsla(0, 52%, 80%, 0.781)
  );
  box-shadow: 0px 0px 13px 2px #f4aaabbf;
}

.error-icon {
  display: inline-block;
  position: absolute;
  right: 115px;
  top: 24%;
  display: none;
}

.error-text {
  position: absolute;
  left: 35px;
  top: 70px;
  font-size: 16px;
  color: $SoftRed;
  display: none;
}

@media (min-width: 768px) {
  .logo {
    position: absolute;
    margin-top: 70px;
    padding-left: 13%;
    height: 95px;
  }

  .page-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }
  .page-info {
    background-image: url(./images/bg-pattern-desktop.svg);
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    width: 100%;
    height: 100vh;
    align-items: flex-start;
    padding-left: 13%;
    padding-right: 5%;
  }
  .coming-soon {
    align-items: flex-start;
    font-size: 53px;
    line-height: 70px;
  }

  .page-text {
    max-width: 600px;
    width: 100%;
    font-size: 20px;
    text-align: left;
    line-height: 40px;
  }

  .email-form {
    max-width: 600px;
    width: 100%;
    margin: 0;
  }

  .hero-image {
    width: 80%;
    height: 100vh;
    margin-bottom: 0;
    background-image: url(./images/hero-desktop.jpg);
  }
}

@media (max-width: 400px) {
  .page-info {
    transform: scale(0.8);
  }
}
